  /* Global Styles */

  html {

    box-sizing: border-box;
        }

body {

    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "navigation"
        "header"
        "content"
        "footer";
        min-height: 100vh;
    

    }
h1 {


}

h2 {


}

h3 {


}

p{ 


}

li {


}

.navigation {


}

.header {


}

.content {


}

.footer {



}

